dataDir = /data
dataLogDir = /datalog
tickTime = 2000
initLimit = 5
syncLimit = 2
autopurge.snapRetainCount = 3
autopurge.purgeInterval = 0
maxClientCnxns = 60
standaloneEnabled = true
admin.enableServer = true
server.1 = zk-1:2888:3888;2181
server.2 = zk-2:2888:3888;2181
server.3 = zk-3:2888:3888;2181
# 日志配置
traceFile=zookeeper_trace.log
debugLogFile=zookeeper_debug.log
logLevel=DEBUG
maxLogFileSize=100MB
maxLogFileCount=10